
<!DOCTYPE html>
<html lang="ru">
  <%= _.template(require('./../includes/head.html').default)(data) %>
  <body>
    <%= _.template(require('./../includes/first_block.html').default)(data) %>
    <%= _.template(require('./../includes/second_block.html').default)(data) %>
    <%= _.template(require('./../includes/third_block.html').default)(data) %>
    <%= _.template(require('./../includes/fourth_block.html').default)(data) %>
    <%= _.template(require('./../includes/fifth_block.html').default)(data) %>
    <%= _.template(require('./../includes/sixth_block.html').default)(data) %>
    <%= _.template(require('./../includes/footer.html').default)(data) %>

    <script src="js/bundle.js"></script>
  </body>

</html>