.footer {
    background-color: #1d437b;
    height: 100px;

    .footer__content {
        margin: auto;
        width: 100%;
        max-width: 1200px;
        font-size: 12px;
        color: #758db0;
        line-height: 1.2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        & p, img {
            display: block;
        }

        & p span {
           color: #fff; 
        }
    }
}