.sixth-block {
    background-color: #122748;
    width: 100%;
    height: 1012px;
    position: relative;
}

.sixth-block__content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 140px;

    & .sixth-block__title {
        font-size: 38px;
        color: #edf2fa;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        z-index: 20;

    }

    & .sixth-block__subtitle {
        font-size: 30px;
        color: #647b9c;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        margin: auto;
        padding-top: 55px;
        z-index: 20;

        
    }
}

.sixth-block__form-wrapper {
    display: flex;
    justify-content: space-between;
}

.sixth-block__form {
    width: 100%;
    max-width: 470px;
    padding: 140px 100px 30px 100px;
}

.sixth-block__button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 10px;

    & button {
        background-color: #ff5063;
        color: #edf2fa;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        font-size: 16px;
        padding: 15px 35px; 
        z-index: 20;

    }
}

.sixth-block__input-wrapper,
.sixth-block__textarea-wrapper {
    position: relative;
    margin: 20px 0;

    & label {
        color: mix(white, #424242, 70%);
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 30px;
        top: 25px;
        transition: 300ms ease all;
        z-index: 20;
      }
}

.sixth-block__textarea-wrapper textarea {
    height: 160px;
}

  $hl-color: #2196F3;
  $muted-color: mix(white, #424242, 70%);
  $trans-time: 300ms;
  
input,
textarea {
    box-sizing: border-box;
    background: none;
    padding: 24px 30px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #647b9c;
    color: #edf2fa;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: #647b9c;
    font-size: 14px;
    z-index: 20;
    
    &:focus {
        outline: none;
        background-color: #3b5172;
        border-bottom: 3px solid #647b9c;
    }
    &:focus ~ label,
    &:valid ~ label {
        top: 8px;
        font-size: 12px;
        color: #edf2fa4d;
    }
    &:focus ~ .bar:before {
        width: $width;
    }
}

.sixth-block__form-info {
    width: 100%;
    max-width: 370px;
    padding: 140px 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sixth-block__info {
    padding-bottom: 40px;
    & span {
        font-size: 14px;
        color: #647b9c;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        z-index: 20;

        
    }
    & p {
        font-size: 22px;
        color: #edf2fa;
        line-height: 1.2;
        padding-top: 20px;
        z-index: 20;

    }
}

.sixth-block__socials {
    display: flex;
    padding-bottom: 80px;

    & img {
        width: 25px;
        height: 20px;
        padding-right: 30px;
    }
}

  