@import "~bootstrap/scss/bootstrap";

// @import "./reset.scss"

img {
    max-width: 100%;
}
.navbar-nav .nav-link {
    text-transform: uppercase;
}
.navbar-right {
    text-transform: initial;
}
.nav-link i {
    margin-right: 7px;
}
.nav-item {
    margin: 0 7px;
}
.navbar .container,
.navbar .container-fluid,
.navbar .container-lg,
.navbar .container-md,
.navbar .container-sm,
.navbar .container-xl {
    justify-content: flex-end;
}
.breadcrumb {
    text-align: center;
    justify-content:center;
    background-color: white;
    &.breadcrumb__submenu {
        margin-top: 80px;
    }
    &.breadcrumb__submenu .breadcrumb-item a {
        color: #636363;
        font-size: 12px;
        padding: 5px;
    }
}

.container {
    background-color: white;
}
.bg-light {
    outline: 1px solid red;
    background-color: white !important;
}
.search-block {
    background-color: #f2f4f6;
    &__container {
        display: flex;
        background-color: #f2f4f6;
        & p {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 16px;
            transform: translate(-50%, -50%);
        }
    }
}


.search-form {
    margin-left: auto;
    position: relative;
    &-text {
        padding: 20px 15px;
        border: 1px solid #f2f4f6; 
        min-width: 240px;
    }
    &-button {
        background-color: transparent;
        border: 0;
        font-size: 17px;
        position: absolute;
        top: 20px;
        right: 20px;
        & img {
            width: 100%;
            height: 100%;
        }
    }
}

