<<<<<<< Updated upstream
$content-weight: 1920px;
=======
@mixin for-size($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 600px;
  $tablet-landscape-upper-boundary: 1460px;
  $desktop-upper-boundary: 1800px;
 
  @if $range == phone-only {
    @media screen and (max-width: #{$phone-upper-boundary - 1}) { @content; }
  } @else if $range == tablet-portrait-up {
    @media screen and (max-width: $phone-upper-boundary) { @content; }
  } @else if $range == tablet-landscape-up {
    @media screen and (max-width: $tablet-landscape-upper-boundary) { @content; }
  } @else if $range == desktop-up {
    @media screen and (min-width: $tablet-landscape-upper-boundary) { @content; }
  } @else if $range == big-desktop-up {
    @media screen and (min-width: $desktop-upper-boundary) { @content; }
  }
}

// @media only screen and (max-width: 990px){	
// }
// @media only screen and (max-width: 850px){	
// }
// @media only screen and (max-width: 767px){	
// }
// @media only screen and (max-width: 566px){	
// }
// @media only screen and (max-width: 489px){	
// }
// @media only screen and (max-width: 379px){	
// }
// @media only screen and (max-width: 339px){	
// }
// @media only screen and (max-width: 299px){	
// }
>>>>>>> Stashed changes
